html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
	font-family: helvetica, sans-serif;
}

h1{
	font-size: 35px;
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
}

/* Mobile */
#page {
	width: 100%;
	font-size: 14px;
	line-height: 1.6em;
}

#images {
	position:relative;
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
#images img{
	position:absolute;
	z-index:1;
	width:100%;
	height:auto;
	background: black;
}
#images img.active{
	z-index:3;
	width:100%;
	height:auto;
}

/* Tablet */
@media (min-width: 768px) {
	#page {
		width: 600px;
		font-size: 16px;
	}

	#images {
		position:relative;
		width:600px;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	#images img{
		position:absolute;
		z-index:1;
		width:600px;
		height:auto;
		background: black;
	}
	#images img.active{
		z-index:3;
		width:600px;
		height:auto;
	}
}

/* Desktop */
@media (min-width: 1025px) {
	#page {
		width: 960px;
		font-size: 18px;
	}

	#images {
		position:relative;
		width:850px;
		height:auto;
		margin-left:auto;
		margin-right:auto;
	}
	#images img{
		position:absolute;
		z-index:1;
		width:850px;
		height:auto;
		background: black;
	}
	#images img.active{
		z-index:3;
		width:850px;
		height:auto;
	}
}
