body {
	font-family: helvetica, sans-serif;
}

#images {
	position:relative;
	width:750px;
	height:auto;
	margin-top:200px;
	margin-left:auto;
	margin-right:auto;
}

#images img{
	background-position: center;
	background-color: black;
	background-size:800, 800;
	position:absolute;
	z-index:1;

	width:750px;
	height:auto;
}

#images img.active{
	z-index:3;
	background-position: center;
	background-color: black;
	background-size:800, 800;

	width:750px;
	height:auto;
}
