body {
	margin: center;

	font-family: helvetica, sans-serif;
}

#images {
	position:relative;
	width:750px;
	height:auto;
}

#images img{
	position:absolute;
	z-index:1;

	width:750px;
	height:auto;
}

#images img.active{
	z-index:3;

	width:750px;
	height:auto;
}
